@import "../../../node_modules/prismjs/themes/prism-twilight.css";

header {
    padding : 20px 0;
}

.style-header h1 {
    font-size     : 18px;
    margin-bottom : 0;
}

.style-title-bar {
    &.title-bar {
        background-color: black;
        a {
            color: white;
        }
    }
}

.style-note {
    padding-top: 30px;
}

.style-sidebar {
    border-bottom: 1px solid #ccc !important;
    box-shadow: none !important;
    .header {
        padding: 1rem;
    }

    li.style-item {
        margin-bottom : 5px;
        a {
            padding-top : 10px;
            padding-bottom : 10px;
            &:hover {
                background-color: rgba(0,0,0,.1);
            }
        }
    }
}

.style-section {
    margin-bottom : 50px;
    border-bottom : 1px solid #eee;
}

.style-body {
    padding : 50px 0 20px 0;
}

.style-title {
    margin-bottom : 20px;
}

.style-breadcrumb {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

pre code {
    display  : block;
    overflow : scroll;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    border: none;
}

h1,
h2,
h3,
h4 {
    &.style-header {
        font-family: 'Muli', sans-serif;
    }
}

h2 {
    &.style-header {
        font-size : 25px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

h3 {
    &.style-header {
        font-size: 20px;
    }
}


.html {
    margin-top: 30px;
}

.code-wrapper {
    margin-bottom: 60px;
}


